.ely#battleWheelFight .wheel:nth-of-type(1) {
  background-image: url('ely/4Selected.png');
}
.ely#battleWheelFight .wheel:nth-of-type(2) {
  background-image: url('ely/3Selected.png');
}
.ely#battleWheelFight .wheel:nth-of-type(3) {
  background-image: url('ely/2Selected.png');
}
.ely#wheel_bg {
  background: #4492b2 url('ely/bg.jpg') no-repeat center -100px;
}

#wheel_bg {
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  z-index: -9;
  height: 100%;
  width: 100%;
}
#battleWheelFight {
  display: flex;
}

.contraption {
  height: 520px;
  position: relative;
}
.contraption .wheels {
  position: relative;
  top: 10px;
  width: 500px;
  height: 500px;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}
.contraption .wheels .wheel {
  position: absolute;
  transition-property: transform;
}


.contraption .wheels .wheel path {
  transition: all 0.2s ease-in;
  fill: transparent;
}
.contraption .wheels .wheelOverlay {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(luminance.png);
  z-index: 100;
}

#battle_wheel {
  position: relative;
}
